
.a {
    margin: auto;
}
.b {
    background-color: blue;
    color: aliceblue;
}
.e{
    text-align: center;
}
html {
    background-color: burlywood;
}
.c {
    background-color: aliceblue;
    color: black;
}